.cardcontainer{

    display: flex;
    width:fit-content;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
    transition: transform 100ms ease-in 0s;
    margin: 20px;
}

.cardcontainer:hover{
    transform: scale(1.05);
}

.imgflag{
    width: 400px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

.span{
    font-weight: bold;
}

.p, .h3{
    margin: 0px;
text-align: left;
padding-left: 20px !important;
}

.h3{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}
.infocountry{
    padding-bottom: 20px;
}