.searchbar{
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
}

.searchbarhide{
    display:none;
}

.input{
    width: calc(100% - 65px);
    border: none;
    font-weight: 600;
    outline: none;
    font-family: inherit;
}

.icon{
    width: 20px !important;
    height: auto;
    margin: 0 20px;
}